[Unit]
Description=Picom service for i3wm.service
PartOf=graphical-session.target

Requisite=i3wm.service
After=i3wm.service

[Service]
ExecStart=/usr/bin/picom
Restart=on-failure

[Install]
WantedBy=i3wm.service
