[Unit]
Description=i3wm perl script for inter-process communication
PartOf=graphical-session.target

Requisite=i3wm.service
After=i3wm.service

[Service]
ExecStart=/usr/bin/perl %h/.config/i3/i3-ipc.pl
Restart=on-failure

[Install]
WantedBy=i3wm.service
